:root{
--bg: #0d0c22;
--text: white;
--textshoft: #e5e5e5;
--btn: #3673fd;
}
body{
    background-color: var(--bg);
    color: var(--text);
}
a{
    text-decoration: none;
    color: inherit;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1536px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.goback{
    
    background-color: var(--btn);
    color: var(--text);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        background-color: #2e5dff;
    }

}
.lin{
    border-radius: 2px;
}
@media (max-width: 1536px){
    .container{
        width: 1366px;
    }
}
@media (max-width: 1366px){
    .container{
        width: 1280px;
    }
}
@media (max-width: 1280px){
    .container{
        width: 1024px;
    }
}
@media (max-width: 1024px){
    .container{
        width: 768px;
    }
}
@media (max-width: 768px){
    .container{
        width: 500px;
    }
}
@media (max-width: 500px){
    .container{
        width: 480px;
    }
}
@media (max-width: 480px){
    .container{
        width: 320px;
    }
}
