.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form{
    align-items: center;
    justify-content: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 400px; /* Reducido el alto */
    width: 400px; /* Aumentado el ancho */
    padding: 20px;
    background-color: #444; /* Cambiado a un color de fondo más oscuro */
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

.form input{
    margin: 10px ;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%; /* Ajustado para tomar todo el ancho disponible */
    background-color: #555; /* Cambiado a un color de fondo aún más oscuro */
    color: #fff; /* Cambiado el color del texto a blanco para que sea legible en el fondo oscuro */
}
.form input:focus{
    outline: none;
    background-color: #161616; /* Cambiado a un color de fondo aún más oscuro */
    font-weight: bold;
}
.liq{
    display: flex;
    gap: 6px;
}
.liq a {
    font-weight: bold;
}
.error{
    background-color: red;
    margin: 4px;
    border-radius: 4px;
    font-weight: bold;
}
